body {
  background-color: #00000D;
  color: #E2B5E6;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body h1 {
  font-family: "Pixelify Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 4rem;
  background-color: #00000D;
}
body h2 {
  font-family: "Pixelify Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
}
body h3 {
  font-family: "Pixelify Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}
body div#home, body div#about, body div#projects, body div#contact {
  height: 100dvh;
}
body a, body a:visited {
  text-decoration: none;
  color: #ACD6F5;
}

#main-header {
  height: 50px;
  width: 300px;
}

.site-nav {
  position: fixed;
  bottom: 0px;
  background-color: #00000D;
  z-index: 60;
  padding: 0.5rem 1rem;
  border: 2px solid #E2B5E6;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
nav ul li {
  display: inline;
}
nav ul li a {
  text-decoration: none;
  color: #E2B5E6;
  text-transform: uppercase;
}
nav ul li a img {
  width: 50px;
  height: auto;
}
nav ul li .material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.arrows-right {
  text-align: center;
}

.slider-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  display: flex;
  flex-direction: row;
  /* Position the "next button" to the right */
  /* On hover, add a black background color with a little bit see-through */
}
.slider-container .my-slides {
  display: none;
}
.slider-container .my-slides .about-header, .slider-container .my-slides .about-text {
  padding: 0rem 3rem 0rem 4rem;
}
.slider-container .prev, .slider-container .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 0.5rem;
  color: #E2B5E6;
  font-family: "Pixelify Sans", sans-serif;
  font-size: 3rem;
  transition: 0.6s ease;
  user-select: none;
}
.slider-container .next {
  right: 0;
}
.slider-container .fade {
  animation-name: fade;
  animation-duration: 3s;
}
@keyframes fade {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}

section {
  width: 100vw;
  height: 100vh;
  max-height: 100vw;
  margin: 0 auto;
  position: absolute;
  flex-wrap: wrap;
  flex-direction: column;
  line-height: 0;
}
section div {
  width: 3.125%;
  height: 5.5555555556%;
  opacity: 1;
}

.swiper {
  max-height: 100dvh;
  max-width: 40dvw;
  background-color: #E2B5E6;
}
.swiper .swiper-slide {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper .swiper-slide .desktop {
  display: block;
  width: 75%;
  height: 75%;
  object-fit: cover;
  padding: 1rem 0rem;
}
.swiper .swiper-slide .mobile {
  height: 50%;
  width: auto;
}
.swiper .swiper-button-next, .swiper .swiper-button-prev {
  color: white;
}
.swiper .swiper-scrollbar {
  color: white;
}

:root {
  --pixel-bg: #E2B5E6; /* Inner background color */
  --pixel-border: white; /* Inner border color: */
  --pixel-border-2: #e79189; /* Middle border color: */
  --pixel-border-3: var(--pixel-border); /* Outer border color */
  --pixel: .125rem; /* Pixel size */
}

.swiper {
  box-shadow: 0 calc(var(--pixel) * -3) 0 calc(var(--pixel) * -1) var(--pixel-bg), 0 calc(var(--pixel) * 3) 0 calc(var(--pixel) * -1) var(--pixel-bg), 0 calc(var(--pixel) * -6) 0 calc(var(--pixel) * -2) var(--pixel-bg), 0 calc(var(--pixel) * 6) 0 calc(var(--pixel) * -2) var(--pixel-bg), 0 calc(var(--pixel) * -9) 0 calc(var(--pixel) * -4) var(--pixel-bg), 0 calc(var(--pixel) * 9) 0 calc(var(--pixel) * -4) var(--pixel-bg), 0 calc(var(--pixel) * -12) 0 calc(var(--pixel) * -6) var(--pixel-bg), 0 calc(var(--pixel) * 12) 0 calc(var(--pixel) * -6) var(--pixel-bg), calc(var(--pixel) * -1) 0 0 0 var(--pixel-border), var(--pixel) 0 0 0 var(--pixel-border), 0 calc(var(--pixel) * -2) 0 0 var(--pixel-border), 0 calc(var(--pixel) * 2) 0 0 var(--pixel-border), 0 calc(var(--pixel) * -5) 0 calc(var(--pixel) * -1) var(--pixel-border), 0 calc(var(--pixel) * 5) 0 calc(var(--pixel) * -1) var(--pixel-border), 0 calc(var(--pixel) * -7) 0 calc(var(--pixel) * -2) var(--pixel-border), 0 calc(var(--pixel) * 7) 0 calc(var(--pixel) * -2) var(--pixel-border), 0 calc(var(--pixel) * -10) 0 calc(var(--pixel) * -4) var(--pixel-border), 0 calc(var(--pixel) * 10) 0 calc(var(--pixel) * -4) var(--pixel-border), 0 calc(var(--pixel) * -13) 0 calc(var(--pixel) * -6) var(--pixel-border), 0 calc(var(--pixel) * 13) 0 calc(var(--pixel) * -6) var(--pixel-border), calc(var(--pixel) * -2) 0 0 0 var(--pixel-border-2), calc(var(--pixel) * 2) 0 0 0 var(--pixel-border-2), 0 calc(var(--pixel) * -1) 0 var(--pixel) var(--pixel-border-2), 0 var(--pixel) 0 var(--pixel) var(--pixel-border-2), 0 calc(var(--pixel) * -4) 0 0 var(--pixel-border-2), 0 calc(var(--pixel) * 4) 0 0 var(--pixel-border-2), 0 calc(var(--pixel) * -6) 0 calc(var(--pixel) * -1) var(--pixel-border-2), 0 calc(var(--pixel) * 6) 0 calc(var(--pixel) * -1) var(--pixel-border-2), 0 calc(var(--pixel) * -8) 0 calc(var(--pixel) * -2) var(--pixel-border-2), 0 calc(var(--pixel) * 8) 0 calc(var(--pixel) * -2) var(--pixel-border-2), 0 calc(var(--pixel) * -11) 0 calc(var(--pixel) * -4) var(--pixel-border-2), 0 calc(var(--pixel) * 11) 0 calc(var(--pixel) * -4) var(--pixel-border-2), 0 calc(var(--pixel) * -14) 0 calc(var(--pixel) * -6) var(--pixel-border-2), 0 calc(var(--pixel) * 14) 0 calc(var(--pixel) * -6) var(--pixel-border-2), calc(var(--pixel) * -3) 0 0 0 var(--pixel-border-3), calc(var(--pixel) * 3) 0 0 0 var(--pixel-border-3), 0 0 0 calc(var(--pixel) * 2) var(--pixel-border-3), 0 calc(var(--pixel) * -3) 0 var(--pixel) var(--pixel-border-3), 0 calc(var(--pixel) * 3) 0 var(--pixel) var(--pixel-border-3), 0 calc(var(--pixel) * -5) 0 0 var(--pixel-border-3), 0 calc(var(--pixel) * 5) 0 0 var(--pixel-border-3), 0 calc(var(--pixel) * -7) 0 calc(var(--pixel) * -1) var(--pixel-border-3), 0 calc(var(--pixel) * 7) 0 calc(var(--pixel) * -1) var(--pixel-border-3), 0 calc(var(--pixel) * -9) 0 calc(var(--pixel) * -2) var(--pixel-border-3), 0 calc(var(--pixel) * 9) 0 calc(var(--pixel) * -2) var(--pixel-border-3), 0 calc(var(--pixel) * -12) 0 calc(var(--pixel) * -4) var(--pixel-border-3), 0 calc(var(--pixel) * 12) 0 calc(var(--pixel) * -4) var(--pixel-border-3), 0 calc(var(--pixel) * -15) 0 calc(var(--pixel) * -6) var(--pixel-border-3), 0 calc(var(--pixel) * 15) 0 calc(var(--pixel) * -6) var(--pixel-border-3);
}

/*# sourceMappingURL=styles.css.map */
