@use '../modules/variables';

.arrows-right {
  text-align: center;
}

#about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 50;
}

.swiper {
  max-height: 70dvh;
  max-width: 60dvw;
  
  .swiper-slide {
      // text-align: center;
      display: flex;
      flex-direction: column;
      // background-color: variables.$font-color;
      justify-content: center;
      align-items: center;

    }

    .swiper-button-next, .swiper-button-prev {
      color: white;
    }
  }