@use '../modules/variables';

main {
    section {


        .slider-container {
            a {
                font-family: variables.$header-font;
            }

            max-width: 100dvw;
            position: relative;
            margin: auto;

            .my-slides {
                display: none;
            }

            .prev, .next {
                position: absolute;
                top: 50%;
                width: auto;
                transition: 0.6s ease;
            }

            .next {
                right: 0px;
            }

        }
        
    }
}