$bg-color: black;
$font-color: white;
$header-font: "Pixelify Sans", sans-serif;
$header-font-weight: 400;
$header-font-style: normal;

$body-font: "Open Sans", sans-serif;
$body-font-weight: 400;
$body-font-style: normal;


body {
    background-color: $bg-color;
    color: $font-color;
    font-family: $body-font;
    font-weight: $body-font-weight;
    font-style: $body-font-style;

    // make body a flex container
    // display things in column
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100dvw;

    h1 {
        font-family: $header-font;
        font-weight: $header-font-weight;
        font-style: $header-font-style;
        font-size: 4rem;
    }

    h2 {
        font-family: $header-font;
        font-weight: $header-font-weight;
        font-style: $header-font-style;
        font-size: 2rem;
    }
}