@use '../modules/variables';
@use './mixins';

body {
    background-color: variables.$bg-color;
    color: variables.$font-color;
    font-family: variables.$body-font;
    font-weight: variables.$body-font-weight;
    font-style: variables.$body-font-style;
    margin: 0 auto;

    // make body a flex container
    // display things in column
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    main {
        width: 80dvw;
        z-index: 50;
    }

    h1 {
        font-family: variables.$header-font;
        font-weight: variables.$header-font-weight;
        font-style: variables.$header-font-style;
        font-size: 2.5rem;

        @media (min-width: variables.$breakpoint-small) {
            font-size: 3rem;
        }

        @media (min-width: variables.$breakpoint-medium) {
            font-size: 4rem;
        }

        @media (min-width: variables.$breakpoint-big) {
            font-size: 5rem;
        }
    }

    h2 {
        font-family: variables.$header-font;
        font-weight: variables.$header-font-weight;
        font-style: variables.$header-font-style;

        @media (min-width: variables.$breakpoint-small) {
            font-size: 2rem;
        }

        @media (min-width: variables.$breakpoint-medium) {
            font-size: 3rem;
        }

        @media (min-width: variables.$breakpoint-big) {
            font-size: 4rem;
        }
    }

    h3 {
        font-family: variables.$header-font;
        font-weight: variables.$header-font-weight;
        font-style: variables.$header-font-style;
        font-size: 2rem;
    }

    div#home, div#about, div#projects, div#contact {
        height: 100dvh;
    }

    a, a:visited {
        text-decoration: none;
        color: variables.$link-color;
    }

}

#bg {
    position: absolute;
    width: 100vw;
    height: 100vh;
    max-height: 100vw;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    line-height: 0;
    z-index: 100;
}

.bg-image {
    // position: relative;
    width: calc(100% / 16 / 2);
    height: calc(100% / 9 / 2);
    opacity: 1;
    // background-color: #FFF;
    display: inline-block;
}