@use './variables';

// nav styles

.top-header-home {
    position: absolute;
    top: 0;
}

#main-header {
    height: 50px;
    width: 300px;

    @media (min-width: variables.$breakpoint-medium) {
        height: 70px;
        width: 500px;
    }

}

.site-nav {
    position: fixed;
    bottom: 0px;
    background-color: variables.$bg-color;
    z-index: 60;
    padding: .5rem;
    border: 2px solid variables.$font-color;

    @media (min-width: variables.$breakpoint-small) {
        padding: .5rem 1rem;
    }

    @media (min-width: variables.$breakpoint-medium) {
        padding: .5rem;
        height: 70px;
        width: 500px;
    }
}

nav {

    ul {
        
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: center;
        
        li {
            display: inline;

            a {
                text-decoration: none;
                color: variables.$font-color;
                text-transform: uppercase;
                font-family: variables.$header-font;

                @media (min-width: variables.$breakpoint-medium) {
                    font-size: 1.75rem;
                    padding-right: .75rem;
                }

                img {
                    width: 25px;
                    height: auto;

                    @media (min-width: variables.$breakpoint-small) {
                        width: 25px;
                        height: auto;
                    }
            
                    @media (min-width: variables.$breakpoint-medium) {
                        width: 50px;
                        height: auto;
                        padding-top: .5rem;
                    }
                }
            }

            .material-symbols-outlined {
                font-variation-settings:
                'FILL' 0,
                'wght' 400,
                'GRAD' 0,
                'opsz' 24
            }

        }
    }
}