@use './variables';

// nav styles

.site-nav {
    position: fixed;
    bottom: 0px;
    left: 0;
    right: 0;
    // width: fit-content;
    background: linear-gradient(180deg, rgba(255,65,244,0) 0%, variables.$bg-color 24%, variables.$bg-color 100%);
    z-index: 60;
    padding: .5rem;

}

nav {

    ul {
        
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: center;
        
        li {
            display: inline;

            a {
                text-decoration: none;
                color: variables.$font-color;
                text-transform: uppercase;
                font-family: variables.$header-font;

                @media (min-width: variables.$breakpoint-medium) {
                    font-size: 1.5rem;
                    padding-right: .75rem;
                }

                @media (min-width: variables.$breakpoint-big) {
                    font-size: 2rem;
                    padding-right: .75rem;
                }

                img {
                    width: 25px;
                    height: auto;

                    @media (min-width: variables.$breakpoint-small) {
                        width: 25px;
                        height: auto;
                    }
            
                    @media (min-width: variables.$breakpoint-medium) {
                        width: 25px;
                        height: auto;
                        padding-top: .5rem;
                    }
                }
            }

            .material-symbols-outlined {
                font-variation-settings:
                'FILL' 0,
                'wght' 400,
                'GRAD' 0,
                'opsz' 24
            }

        }
    }
}