@use './variables';

#projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 50;

    .gallery {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        align-items: center;
        margin-top: 2rem;

        .project {

            margin: 2rem 0rem;
            text-align: center;

            img {
                width: 150px;
            }

            i {
                font-size: 1.5rem;
            }

        }

        #project-1, #project-3 {
            transform: rotate(10deg);
            // transform: scale(1);

            &:hover {
                animation: scaleUp1 0.3s ease-in-out;
                animation-fill-mode: forwards;

            }
        }

        #project-2 {
            transform: rotate(-10deg);

            &:hover {
                animation: scaleUp2 0.3s ease-in-out;
                animation-fill-mode: forwards;
            }
        }
    }
}

// animations for the hover effect

@keyframes scaleUp1 {
    from {
        transform: rotate(10deg);
        transform: scale(1);
    }
    to {
        transform: rotate(0deg);
        transform: scale(1.5);
    }
}

@keyframes scaleUp2 {
    from {
        transform: rotate(-10deg);
        transform: scale(1);
    }
    to {
        transform: rotate(0deg);
        transform: scale(1.5);
    }
}