@use './variables';

:root {
	--pixel-bg: #E2B5E6; /* Inner background color */
	--pixel-border: #00000D; /* Inner border color: */
	--pixel-border-2: #e79189; /* Middle border color: */
	--pixel-border-3: var(--pixel-border); /* Outer border color */
	--pixel: 0.2rem; /* Pixel size */
}

.swiper {
    max-height: 80dvh;
    max-width: 85dvw;
	margin: 2rem 0rem;

	@media (min-width: variables.$breakpoint-big) {
		max-height: 50dvh;
		max-width: 50dvw;
	}
     
    .swiper-slide {
        text-align: center;

		.container {
			height: auto;
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
			align-content: space-evenly;

			p {
				margin: 2rem 0rem;
				i {
					margin: 0rem 1rem;
				}

			}

		}

		i {
			font-size: 2rem;
			color: variables.$link-color;
		}

      }

      box-shadow:
		
	/* Pixel Border Layer 1 */
		calc(var(--pixel) * -1) 0 0 0 var(--pixel-border),
		var(--pixel) 0 0 0 var(--pixel-border),
		0 calc(var(--pixel) * -2) 0 0 var(--pixel-border),
		0 calc(var(--pixel) * 2) 0 0 var(--pixel-border),
		0 calc(var(--pixel) * -5) 0 calc(var(--pixel) * -1) var(--pixel-border),
		0 calc(var(--pixel) * 5) 0 calc(var(--pixel) * -1) var(--pixel-border),
		0 calc(var(--pixel) * -7) 0 calc(var(--pixel) * -2) var(--pixel-border),
		0 calc(var(--pixel) * 7) 0 calc(var(--pixel) * -2) var(--pixel-border),
		0 calc(var(--pixel) * -10) 0 calc(var(--pixel) * -4) var(--pixel-border),
		0 calc(var(--pixel) * 10) 0 calc(var(--pixel) * -4) var(--pixel-border),
		0 calc(var(--pixel) * -13) 0 calc(var(--pixel) * -6) var(--pixel-border),
		0 calc(var(--pixel) * 13) 0 calc(var(--pixel) * -6) var(--pixel-border),
		
	/* Pixel Border Layer 2 */
		calc(var(--pixel) * -2) 0 0 0 var(--pixel-border-2),
		calc(var(--pixel) * 2) 0 0 0 var(--pixel-border-2),
		0 calc(var(--pixel) * -1) 0 var(--pixel) var(--pixel-border-2), 
		0 var(--pixel) 0 var(--pixel) var(--pixel-border-2),
		0 calc(var(--pixel) * -4) 0 0 var(--pixel-border-2),
		0 calc(var(--pixel) * 4) 0 0 var(--pixel-border-2),
		0 calc(var(--pixel) * -6) 0 calc(var(--pixel) * -1) var(--pixel-border-2),
		0 calc(var(--pixel) * 6) 0 calc(var(--pixel) * -1) var(--pixel-border-2),
		0 calc(var(--pixel) * -8) 0 calc(var(--pixel) * -2) var(--pixel-border-2),
		0 calc(var(--pixel) * 8) 0 calc(var(--pixel) * -2) var(--pixel-border-2),
		0 calc(var(--pixel) * -11) 0 calc(var(--pixel) * -4) var(--pixel-border-2),
		0 calc(var(--pixel) * 11) 0 calc(var(--pixel) * -4) var(--pixel-border-2),
		0 calc(var(--pixel) * -14) 0 calc(var(--pixel) * -6) var(--pixel-border-2),
		0 calc(var(--pixel) * 14) 0 calc(var(--pixel) * -6) var(--pixel-border-2),
		
	/* Border Layer 3: --pixel-border-3 */
		calc(var(--pixel) * -3) 0 0 0 var(--pixel-border-3),
		calc(var(--pixel) * 3) 0 0 0 var(--pixel-border-3),
		0 0 0 calc(var(--pixel) * 2) var(--pixel-border-3),
		0 calc(var(--pixel) * -3) 0 var(--pixel) var(--pixel-border-3),
		0 calc(var(--pixel) * 3) 0 var(--pixel) var(--pixel-border-3),
		0 calc(var(--pixel) * -5) 0 0 var(--pixel-border-3),
		0 calc(var(--pixel) * 5) 0 0 var(--pixel-border-3),
		0 calc(var(--pixel) * -7) 0 calc(var(--pixel) * -1) var(--pixel-border-3),
		0 calc(var(--pixel) * 7) 0 calc(var(--pixel) * -1) var(--pixel-border-3),
		0 calc(var(--pixel) * -9) 0 calc(var(--pixel) * -2) var(--pixel-border-3), 
		0 calc(var(--pixel) * 9) 0 calc(var(--pixel) * -2) var(--pixel-border-3),
		0 calc(var(--pixel) * -12) 0 calc(var(--pixel) * -4) var(--pixel-border-3), 
		0 calc(var(--pixel) * 12) 0 calc(var(--pixel) * -4) var(--pixel-border-3),
		0 calc(var(--pixel) * -15) 0 calc(var(--pixel) * -6) var(--pixel-border-3), 
		0 calc(var(--pixel) * 15) 0 calc(var(--pixel) * -6) var(--pixel-border-3);

}

// swiper on the project pages

.swiper-project {
	max-height: 80dvh;
    max-width: 85dvw;
	margin: 2rem 0rem;

	@media (min-width: variables.$breakpoint-big) {
		max-height: 50dvh;
		max-width: 45dvw;
	}

	.swiper-slide {
        text-align: center;

		.container {
			height: auto;
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
			align-content: space-evenly;

			p {
				margin: 2rem 0rem;
				i {
					margin: 0rem 1rem;
				}
			}

		}

		i {
			font-size: 2rem;
			color: variables.$link-color;
		}

        .desktop {
        display: block;
        width: 260px;
        height: 190px;
        object-fit: cover;

		@media (min-width: variables.$breakpoint-medium) {
			height: 350px;
			width: auto;
		}

		@media (min-width: variables.$breakpoint-big) {
			height: 350px;
			width: 480px;
		}

    	}

        .mobile {
            height: 200px;
            width: auto;

			@media (min-width: variables.$breakpoint-medium) {
				height: 350px;
				width: auto;
			}

			@media (min-width: variables.$breakpoint-big) {
				height: 350px;
				width: auto;
			}
        }
      }

}