$bg-color: black;
$font-color: white;
$header-font: "Pixelify Sans", sans-serif;
$header-font-weight: 400;
$header-font-style: normal;

$body-font: "Open Sans", sans-serif;
$body-font-weight: 400;
$body-font-style: normal;